.App {
  text-align: center;
}

.sidebar {
  float: left;
  width: 20%;
  margin-left: 25px;
  margin-top: 100px;
}

.profile {
  border: 2px solid navy;
  text-align: center;
}

.bio {
  margin-top: 50px;
  border: 2px solid navy;
  
}

.navbar {
  padding: 10px;
}