.App {
  text-align: center;
}

.sidebar {
  margin-left: 25px;
  margin-top: 150px;

}

.profile {
  border: 2px solid navy;
  text-align: center;
  padding: 10px;
  background-color: white;
}

.bio {
  border: 2px solid navy;
  height: 300px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}

.profile-pic {
  border: 3px solid navy;
  border-radius: 50%;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.navbar {
  padding: 10px;
}

.recommended {
  padding: 5px;
  margin-top: 150px;
  border: 2px solid navy;
  margin-right: 20px;
  background-color: white;
}

.mini-image {
  width: 100px;
  height: 100px;
  padding-bottom: 10px;
}

.feed {
  margin-top: 150px;
  border: 2px solid navy;
  padding: 10px;
  background-color: white;
}

.post {
  border: 2px solid grey;
  padding: 10px;
}

.bar {
  padding-top: 20px;
}